@media screen and (min-width: 1200px){
    .desktop-images{
        position: absolute;
        top: 59.5%;
        left: 40%;
        display: inline-block;
    }
    .desktop-images img {
        height: 10em;
    }
}

@media screen and (max-width: 1200px){
    .desktop-images {
        display: none;
    }
}

.wrapper-logo {
    display: inline-block;
    float: left;
}

.wrapper-logo img {
    height: 150px;
}

.search-and-contact{
    display: inline-block;
    float: right;
}

.wrapper-contact {
    margin-bottom: 20px;
}

.wrapper-contact img {
    padding-top: 50px;
    height: 20px;
    padding-right: 20px;
}

.menu {
    display: block;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 25px;
}

a {
    text-decoration: none;
}

a:hover{
    color: darkgoldenrod;
}



.search img{
    height: 25px; 
}


main img.python {
    max-width: 100%;
    margin-bottom: 30px;
    -webkit-clip-path: polygon(1% 2%, 100% 1%, 100% 74%, 0% 100%);
    clip-path: polygon(1% 2%, 100% 1%, 100% 74%, 0% 100%);
}

input {
    margin-left: 5px;
}

.about-smtng{
    width: 440px;
    display: inline-block;
    float: left;
    margin-left: 5%;
}

.about-smtng img{
    width: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}